[user]
	name = zentooo
	email = ankerasoy@gmail.com

[alias]
  co = checkout
  st = status
  tree = log --graph --abbrev-commit --decorate --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[core]
	excludesfile = /Users/yokoe.naosuke/.gitignore_global

[color]
	ui = true
