[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/perlomni.vim"]
	path = .vim/bundle/perlomni.vim
	url = git://github.com/c9s/perlomni.vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/css.vim"]
	path = .vim/bundle/css.vim
	url = git://github.com/xenoterracide/css.vim.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
[submodule ".vim/bundle/perldoc-vim"]
	path = .vim/bundle/perldoc-vim
	url = git://github.com/hotchpotch/perldoc-vim.git
[submodule ".vim/bundle/closetag.vim"]
	path = .vim/bundle/closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-textobj-between"]
	path = .vim/bundle/vim-textobj-between
	url = git://github.com/thinca/vim-textobj-between.git
[submodule ".vim/bundle/vim-textobj-comment"]
	path = .vim/bundle/vim-textobj-comment
	url = git://github.com/thinca/vim-textobj-comment.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/eregex.vim"]
	path = .vim/bundle/eregex.vim
	url = git://github.com/othree/eregex.vim.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
